<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment me-padded-tb-mini m-shadow-small">
</nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="https://picsum.photos/id/103/800/600" alt="" class="ui rounded image">
                </div>
            </div>
            
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">
                        你好，等你很久了，欢迎你来进一步了解我
                    </p>
                    <p class="m-text">
                        这里是CuiTalk，记录我的一切成长与美好，我是一名码农，也是一名新晋奶爸，喜欢做饭，喜欢探索新知识！
                    </p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">编程</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">写作</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">读书</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">理财</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">Node</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">AWS</div>
                </div>

                <div class="ui bottom attached segment">
                    <a href="#" th:href="@{https://github.com/fgcui1204}" target="_blank" class="ui circular button icon" ><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular button icon"><i class="weixin icon"></i></a>

                    <a href="#" class="ui qq circular button icon" data-content="877975601" data-position="bottom center"><i class="qq icon"></i></a>
                </div>

                <div class="ui wechat-qr flowing popup transition hidden">
                    <img th:src="@{/images/wechat.png}" alt="" class="ui rounded image" style="width: 120px">
                </div>
            </div>
        </div>     
    </div>
</div>

<br>
<br>

<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function() {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.qq').popup();

        $('.wechat').popup({
            popup: $('.wechat-qr'),
            position: 'bottom center'
        })
        $('#new-blog').load(/*[[@{/footer/newBlog}]]*/"/footer/newBlog");
    </script>
</body>
</html>