<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${blog.title}">博客详情</title>
</head>
<body>


<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment me-padded-tb-mini m-shadow-small">
</nav>

<!--中间内容-->
<div id="waypoint" class="m-container-small m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <div class="item">
                    <img src="https://picsum.photos/id/1005/100/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                    <div class="content">
                        <a href="#" class="header" th:text="${blog.user.nickname}">
                            崔福罡
                        </a>
                    </div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2019-07-10 </span>
                </div>
                <div class="item">
                    <i class="eye icon"></i> <span th:text="${blog.views}"></span>
                </div>
            </div>
        </div>

        <!--<div class="ui attached segment">-->
            <!--&lt;!&ndash;图片区域&ndash;&gt;-->
            <!--<img src="https://picsum.photos/id/1005/500/500" th:src="@{${blog.firstPicture}}" alt="" class="ui fluid rounded image">-->
        <!--</div>-->

        <div class="ui attached padded segment">
            <!--内容区域-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label" th:text="${blog.flag}">原创</div>
            </div>

            <h2 class="ui center aligned header" th:text="${blog.title}">你真的财务自由吗？</h2>

            <br>



            <div id="content" class="typo js-toc-content typo-selection m-padded-left-right-responsive m-padded-tb-large" th:utext="${blog.content}">

            </div>

            <!--标签-->
            <div class="m-padded-left-right-responsive">
                <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">方法论</div>
            </div>

            <!--赞赏-->
            <div th:if="${blog.appreciation}">
                <div class="ui center aligned basic segment" >
                    <button id="payButton" class="ui orange basic circular button">赞赏</button>
                </div>

                <div class="ui payQRCode flowing popup transition hidden" >
                    <div class="ui orange basic label">
                        <div class="ui images" style="font-size: inherit !important;">
                            <div class="image">
                                <img th:src="@{/images/alipay.png}" src="../static/images/apple-touch-icon-60x60.png" alt="" class="ui rounded bordered image" style="width: 120px">
                                <div>支付宝</div>
                            </div>
                            <div class="image">
                                <img src="../static/images/apple-touch-icon-60x60.png" th:src="@{/images/wechat.png}" alt="" class="ui rounded bordered image" style="width: 120px">
                                <div>微信</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="ui attached positive message" th:if="${blog.shareStatement}">
            <!--信息说明-->
            <div class="ui middle aligned grid">
                <div class="eleven wide column">
                    <ui class="list">
                        <li>作者：<span th:text="${blog.user.nickname}"></span></li>
                        <li>发表时间：<span th:text="${#dates.format(blog.updateTime, 'yyy-MM-dd HH:mm')}"></span></li>
                        <li>版权声明：自由转载</li>
                    </ui>
                </div>

                <div class="five wide column">
                    <img th:src="@{/images/wechatinfo.png}" alt="" class="ui right floated rounded bordered image" style="width: 110px">
                </div>
            </div>
        </div>

        <div class="ui bottom attached segment" th:if="${blog.commentabled}">
            <!--留言区域-->
            <div id="comment-container" class="ui teal segment">
                <div th:fragment="commentList">
                    <div class="ui threaded comments" style="max-width: 100%">
                        <h3 class="ui dividing header">评论</h3>
                        <div class="comment" th:each="comment : ${comments}">
                            <a class="avatar">
                                <img src="https://picsum.photos/id/1005/100/100" th:src="@{${comment.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author">
                                    <span th:text="${comment.nickname}">Matt</span>
                                    <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${comment.AdminComment}">博主</div>
                                </a>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                </div>
                                <div class="text" th:text="${comment.content}">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}" onclick="reply(this)">回复</a>
                                </div>
                            </div>
                            <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                <div class="comment" th:each="reply : ${comment.replyComments}">
                                    <a class="avatar">
                                        <img src="https://picsum.photos/id/1005/100/100" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span  th:text="${reply.nickname}">Matt</span>
                                            <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.AdminComment}">博主</div>

                                            &nbsp;<span  th:text="|@ ${reply.parentComment.nickname}|" class="m-teal">@ Matt</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(reply.createTime, 'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">
                                            How artistic!
                                        </div>
                                        <div class="actions">
                                            <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}" onclick="reply(this)">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="comment-form" class="ui form">
                <input type="hidden" name="blog.id" th:value="${blog.id}">
                <input type="hidden" name="parentComment.id" value="-1">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息...">
                    </textarea>
                </div>

                <div class="fields">
                    <div class="field m-mobile-wide m-margin-button-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="姓名"  th:value="${session.user}!=null ? ${session.user.nickname}">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-button-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="邮箱" th:value="${session.user}!=null ? ${session.user.email}">
                        </div>
                    </div>
                </div>
                <div class="field m-mobile-wide m-margin-button-small">
                    <button id="comment-btn" type="button" class="ui teal m-mobile-wide button"><i class="edit icon"></i>发布</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="toolbar" class="m-padded m-fixed m-right-bottom " style="display: none">
    <div class="ui vertical icon buttons">
        <button type="button" class="ui toc-btn teal button">目录</button>
        <a href="#comment-container" class="ui teal button">留言</a>
        <button class="ui wechat icon button"><i class="weixin icon"></i></button>
        <div id="toTop-button" class="ui icon button"><i class="chevron up icon"></i></div>
    </div>
</div>

<div class="ui toc-container flowing popup transition hidden" style="width: 250px !important;">
    <ol class="js-toc">

    </ol>
</div>

<div id="qrcode" class="ui wechat-qr flowing popup transition hidden" style="width: 130px">
    <!--<img src="./static/images/apple-touch-icon-60x60.png" alt="" class="ui rounded image" style="width: 120px">-->
</div>

<br>
<br>
<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script th:src="@{/lib/tocbot/tocbot.min.js}"></script>
<script th:src="@{/lib/qrcode/qrcode.min.js}"></script>
<script th:src="@{/lib/prism/prism.js}"></script>
<script th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>

    <script th:inline="javascript">

        $('.menu.toggle').click(function() {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.js-toc',
            // Where to grab the headings to build the table of contents.
            contentSelector: '.js-toc-content',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3',
        });


        $('#payButton').popup({
            popup: $('.payQRCode.popup'),
            on: 'click',
            position: 'bottom center'
        })
        $('.toc-btn').popup({
            popup: $('.toc-container.popup'),
            on: 'hover',
            position: 'left center'
        });

        $('.wechat').popup({
            popup: $('.wechat-qr'),
            position: 'left center'
        });

        $('.ui.form').form({
            fields: {
                content: {
                    identifier: 'content',
                    rules: [{
                        type: 'empty',
                        prompt: '标题: 请输入博客内容'
                    }]
                },
                nickname: {
                    identifier: 'nickname',
                    rules: [{
                        type: 'empty',
                        prompt: '标题: 请输入昵称'
                    }]
                },
                email: {
                    identifier: 'email',
                    rules: [{
                        type: 'empty',
                        prompt: '标题: 请输入邮箱'
                    }]
                }
            }
        });

        $('#comment-btn').click(function () {
            var isValid = $('.ui.form').form('validate form');

            if(isValid) {
                postComment();
            } else {
                console.error("error")
            }
        });

        $(function() {
            $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"comments/28");
        })

        function postComment() {
            $("#comment-container").load(/*[[@{/comments}]]*/"", {
                "parentComment.id" : $("[name='parentComment.id']").val(),
                "blog.id": $("[name='blog.id']").val(),
                "nickname": $("[name='nickname']").val(),
                "email": $("[name='email']").val(),
                "content": $("[name='content']").val(),
            }, function(responseText, statusText, xhr) {
                clearContent();
            })
        }

        function clearContent() {
            $("[name='content']").val('');
            $("[name='parentComment.id']").val(-1)
            $("[name='content']").attr("placeholder", "请输入评论信息...");
        }

        function reply(obj) {
            var commentId = $(obj).data('commentid');
            var nickname = $(obj).data('commentnickname');

            console.log(nickname);

            $("[name='content']").attr("placeholder", "@"+nickname).focus();
            $("[name='parentComment.id']").val(commentId);

            $(window).scrollTo($('#comment-form'), 500);
        }

        var serverUtl = "http://cuitalk.site";
        var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
        var qrcode = new QRCode("qrcode", {
            text: serverUtl + url,
            width: 110,
            height: 110,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });

        $('#toTop-button').click(function () {
            $(window).scrollTo(0, 500);
        });

        var waypoint = new Waypoint({
            element: document.getElementById('waypoint'),
            handler: function(direction) {
                if (direction === 'down') {
                    $('#toolbar').show(500);
                } else {
                    $('#toolbar').hide(500);
                }
            }
        })

        $('#new-blog').load(/*[[@{/footer/newBlog}]]*/"/footer/newBlog");
    </script>
</body>
</html>